{
    "root": true,
    "env": {
        "node": true
    },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "overrides": [
        {
            "files": "*.ts",
            "parser": "@typescript-eslint/parser",
            "extends": [
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended"
            ],
            "rules": {
                "@typescript-eslint/no-non-null-assertion": 0
            }
        }
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 2
    }
}